<h2>Hello World</h2>
<p>I am a PhD student at TU Delft under <a href = "https://chauff.github.io">Claudia Hauff</a> .</p>


<p>The current focus of my research..</p>
<p>Before joining my PhD..</p>

<hr />
<h2>News</h2>
<ul>
  <li>Responsive design</li>
  <li>Published change
  </li>
  
</ul>
<hr />
<ul class="fa-ul main-list" style="font-size: 24px;">

      <a href="https://github.com/roynirmal" target="_blank" title="Github">
    <span class="fa fa-github fa-2x main-list-item-icon"></span>
    </a>
  
 
      <a href="https://twitter.com/_nirmalroy" target="_blank" title="Twitter">
    <span class="fa fa-twitter fa-2x main-list-item-icon"></span>
    </a>

 
      <a href="https://www.linkedin.com/in/nirmal-roy/" target="_blank" title="Linkedin">
    <span class="fa fa-linkedin fa-2x main-list-item-icon"></span>
    </a>
 
  
      <a href="mailto:nroy000@gmail.com" target="_blank" title="Mail">
    <span class="fa fa-envelope fa-2x main-list-item-icon"></span>
    </a>
 
  <!-- <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li> -->
</ul>
